/*#navBarText {
    color: yellow;
}*/

#headerOne {
    color: yellow;
    font-weight: bolder;
}

#signIn {
    color: white;
}

.dataTableLayout {
    table-layout:fixed;
    width:100%;
}

body {
    background-image: url('/static/SWBG.png');
    background-size: cover;
}

#userName {
    color: green;
    font-weight: bolder;
}

#logText, #navBarText, .tableData, .tableHeader {
    color: yellow;
}

#pageSwap {
    margin-bottom: 15px;
    margin-left: 15px;
}

.planetsTable {
    width: 100%;
}

#modalText {
    text-decoration: underline;
}

.btn.sharp {
  border-radius:0;
}

.btn.outline {
	background: orange;
    padding: 5px 10px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.btn-default.outline {
	border: 2px solid orange;
	color: orange;
}

.btn-default.outline:hover, .btn-default.outline:focus, .btn-default.outline:active, .btn-default.outline.active, .open > .dropdown-toggle.btn-default {
	color: yellow;
	border-color: yellow;
}

.btn-default.outline:active, .btn-default.outline.active {
	border-color: yellow;
	color: yellow;
	box-shadow: none;
}