<nav class="navbar navbar-expand-lg navbar-light bg-inverse">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/" id="navBarText">Planet list <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="navBarText">Voting statistics</a>
            </li>
        </ul>
        <div>
            {% if session['user_name'] %}
                <div id="signIn">You are signed in as <data id="userName">{{ session['user_name'] }}</data></div>
            {% else %}
                <div id="signIn">Please Sign In:</div>
            {% endif %}
        </div>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navbarText" href="#" id="navBarText" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Options
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if not session['user_name'] %}
                <a class="dropdown-item" href="/login">Sign In</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/registration">Register</a>
                {% else %}
                <a class="dropdown-item" href="/logout">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
